.list-user-container {
    .title {
        margin-bottom: 30px;
    }
    .list-user-child {
        .child {
            width: 400px;
            margin: 0 auto;
            height: 40px;
            border: 1px solid gray;
        }
    }
}
